    .country {
      fill: #fee6ce;
      stroke: #888;
      stroke-width: 0.03;
      stroke-linejoin: round;
      cursor: pointer;
      transition: 0.3s;
    }
    .country:hover {
      fill: #a63603;
    }
    .guessed {
      fill: #fdae6b;
    }
    .active {
      fill: #e6550d;
    }
    .active:hover {
      fill: #e6550d;
    }
    #country-input {
      position: absolute;
      font-size: 150%;
      top: 50px;
      left: 50px;
    }
